@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';

@import 'mixins/transitions';
@import 'mixins/animation';
@import 'mixins/keyframe';

body {
  padding: 0;
  margin: 0;

}

.app {
  width: 100%;
  overflow: hidden;
  position: relative;
  // background-image: radial-gradient(circle at 27% 53%, red, orange 56%, yellow 56%, #111c2b);
}

